# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ShopWeb.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\source\repos\ShopWeb\.idea\.idea.ShopWeb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
