@{
    ViewBag.Title = "Про нас";
}

<h1 style="color: white">Про нас</h1>

<partial name="/Views/Pages/AboutUsMainF.cshtml" />

<div>
    <h2>НАШІ ОСНОВНІ ПЕРЕВАГИ:</h2>
    <ul style="font-size: 20px">
        <li>Ми ретельно контролюємо кожен з етапів - від забою худоби до реалізації готової продукції.</li>
        <li>Постійно інвестуємо кошти в сучасне високотехнологічне обладнання за європейськими зразками.</li>
        <li>Використання натуральної сировини - запорука гарантовано стабільної якості продукції.</li>
        <li>Ми не використовуємо домішок, штучних підсилювачів смаку, прискорювачів дозрівання ковбас і продуктів з ГМО.</li>
        <li>Широкий асортимент усіх видів ковбасних виробів, різних м'ясних делікатесів і натуральних напівфабрикатів.</li>
        <li>Оригінальні рецептури для виготовлення всіх видів напівфабрикатів власного виробництва, таких як: домашні ковбаси, бургери, люля кебаб, млинці, вареники, хінкалі та багато іншого.</li>        
        <li>У магазині також представлена ексклюзивна продукція.</li>
        <li>Великий штат співробітників щодня піклуються про те, щоб ви споживали кращі м'ясні та ковбасні вироби.</li>
    </ul>
</div>